/* .flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
} */

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2.5px;
  margin: 8px;
  color: #272727;
}

h1 {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2.5px;
  margin: 8px;
  color: #454545;
}

.sub-text {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2.5px;
  margin: 8px;
  padding: 20px;
  color: #454545;
}

.head-text {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 100;
  letter-spacing: 2.5px;
  margin: 8px;
  color: #e70dff;
  padding: 25px;
}

ul {
  margin 15px;
}

.button {
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  background-color: #DAFF7D;
  border-radius: 5px;
  padding: 15px 32px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 16px;
  color: #0B3954;
  transition: 0.2s;
}

.button:hover {
  color: #DAFF7D;
  background-color: #0B3954;
}

#header-emphasize {
  font-family: 'Roboto', sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 52px;
  text-transform: none;
  color: #AAFCB8;
  /* color: #FAB2EA; */
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 50px;
    border-radius: 50%;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #0B3954; */
  color: #021212;
}

.bg{
  background-image: url('images/milky-way-starry-sky-night-sky-star-956981.jpeg');
  height: 100;
  background-position: center;
  background-size: cover;
}

.left-aligned {
  position: fixed;
  margin-left: 36px;
  margin-top: 24px;
  padding: 50px;
  padding-top: 70px;
  width: 350px;
  height: 80%;
  background-color: #56A3A6;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 2.6px;
}

.big-container {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 36px;
}

.head-cards {
  /* background-color: #D0EFB1; */
  background-color: #a9fbb80e;
  width: 700px;
  height: 100px;
  border-radius: 20px;
  padding: 32px;
  margin: 20px;
  box-shadow: rgb(208, 56, 188) 2px 5px 2.6px;
  /* margin-top: 24px; */
}

.smaller-cards {
  /* background-color: #D0EFB1; */
  background-color: #a9fbb8a8;
  width: 700px;
  height: 100px;
  border-radius: 20px;
  padding: 32px;
  margin: 20px;
  box-shadow: rgb(208, 56, 188) 2px 5px 2.6px;
  /* margin-top: 24px; */
}

.single-before {
  list-style: none;
  padding: 0;
  margin: 0px 10px;
}

li {
  padding-left: 1rem;
  text-indent: -0.5rem;
}

li::before {
  content: "💫 ";
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}







/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */
